<div formclass="regola-container" *ngIf="regola">
    <mat-form-field appearance="fill">
        <mat-label>Nome variabile</mat-label>
        <input [(ngModel)]="regola.NOM_VARIABILE" type="text" matInput required  [disabled]="!creating">
        <mat-hint>Es: "tipo_prod"</mat-hint>
    </mat-form-field>
    <label class="rule-label">Globale</label>
    <mat-checkbox [checked]="regola.GLOBAL==='Y'" disabled></mat-checkbox>
    <mat-form-field appearance="fill">
        <mat-label>Ordine presentazione</mat-label>
        <input [(ngModel)]="regola.ORD_PRESENTAZIONE" type="number" matInput >
    </mat-form-field>
    <label class="rule-label">Obbligatoria</label>
    <mat-checkbox [checked]="regola.REQUIRED==='Y'" (change)="onChangeRequired($event)" class="variable-required"></mat-checkbox>
    <mat-form-field appearance="fill">
        <mat-label>Etichetta</mat-label>
        <input [(ngModel)]="regola.ETICHETTA" type="text" matInput required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Tipo di variabile</mat-label>
        <mat-select [(ngModel)]="regola.TIPO" name="types" required>
            <mat-option *ngFor="let type of types" [value]="type.value">
            {{type.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div [ngStyle]="{'display': regola.TIPO == 'number'?'':'none'}">
        <mat-form-field appearance="fill">
            <mat-label>Numero di Decimali</mat-label>
            <input  [(ngModel)]="regola.NUM_DECIMALI" type="number" matInput >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Max</mat-label>
            <input  [(ngModel)]="regola.MAX" type="number" matInput >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Min</mat-label>
            <input  [(ngModel)]="regola.MIN" type="number" matInput >
        </mat-form-field>
    </div>
    <div [ngStyle]="{'display': regola.TIPO == 'text'?'':'none'}">
        <mat-form-field appearance="fill">
            <mat-label>Lunghezza massima</mat-label>
            <input  [(ngModel)]="regola.MAXLENGTH" type="number" matInput >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Espressione regolare</mat-label>
            <input  [(ngModel)]="regola.PATTERN_REGEXP" type="text" matInput >
        </mat-form-field>
    </div>
    <div [ngStyle]="{'display': regola.TIPO == 'elenco' && !creating ? '' : 'none'}">
        <label class="rule-label"> Opzioni</label> 
        <button mat-raised-button color="primary" [ngStyle] ="{float:'right'}" (click)="addOption()">Aggiungi Opzione</button>
        <table mat-table [ngStyle] ="{'width':'100%', 'margin-bottom':'15px'}" [dataSource]="regola.OPTIONS ? regola.OPTIONS : []" #optionsTable>
            <ng-container matColumnDef="ETICHETTA">
                <th mat-header-cell *matHeaderCellDef>Etichetta</th>
                <td mat-cell *matCellDef="let option">
                    <mat-form-field  appearance="fill">
                        <input matInput placeholder="Etichetta" [(ngModel)]="option.ETICHETTA">
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="VALORE">
                <th mat-header-cell *matHeaderCellDef>Valore</th>
                <td mat-cell *matCellDef="let option"> 
                    <mat-form-field  appearance="fill">
                        <input matInput placeholder="Valore" [(ngModel)]="option.VALUE_OPTION">
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="AZIONI">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let option">
                    <button (click)="removeOption(option)" class="clear-button"><mat-icon class="mat-icon">delete</mat-icon></button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['ETICHETTA','VALORE','AZIONI']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['ETICHETTA','VALORE','AZIONI'];"></tr>
        </table>
    </div>
    <div [ngStyle]="{'display': regola.TIPO == 'sottoschema' && !creating ? '' : 'none'}">
        <label class="rule-label"> Sottoschemi</label> 
        <button mat-raised-button color="primary" [ngStyle] ="{float:'right'}" (click)="addSubschema()">Aggiungi Sottoschema</button>
        <table mat-table [ngStyle] ="{'width':'100%', 'margin-bottom':'15px'}" [dataSource]="regola.SOTTOSCHEMI ? regola.SOTTOSCHEMI : []" #subschemaTable>
            <ng-container matColumnDef="SOTTOSCHEMA">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let sottoschema">
                    <mat-select matInput appearance="fill" [(ngModel)]="sottoschema.ID_SOTTO_SCHEMA">
                        <mat-option *ngFor="let schema of listaSchemiInterni" [value]="schema.ID_SCHEMA">{{ schema.TITOLO }}</mat-option>
                    </mat-select>
                </td>
            </ng-container>
            <ng-container matColumnDef="AZIONI">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let s">
                    <button (click)="removeSubschema(s)" class="clear-button"><mat-icon class="mat-icon">delete</mat-icon></button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['SOTTOSCHEMA','AZIONI']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['SOTTOSCHEMA','AZIONI'];"></tr>
        </table>
    </div>
     <button (click)="saveRule()" [ngStyle]="{'margin-left': '10px'}" mat-raised-button color="primary">Salva Regola</button>
     <button *ngIf="!creating" (click)="deleteRule()" [ngStyle]="{'margin-left': '10px'}" mat-raised-button color="warn">Elimina Regola</button>
</div>
