.mat-form-field {
    width: 98%;
    margin-left: 10px;
}

.mat-checkbox {
    margin-left: 10px;
    vertical-align: sub;
}

.rule-label {
    margin-left: 10px;
}

.save-button,
.clear-button {
    margin-left: 10px;
    background-color: transparent;
    border: none;
}

.save-button .mat-icon {
    color: lightgreen;
}

.save-button:hover {
    background-color: lightgreen;
}

.save-button:hover > .mat-icon {
    color: white;
}

.clear-button .mat-icon {
    color: indianred;
}

.clear-button:hover {
    background-color: indianred;
}

.clear-button:hover > .mat-icon {
    color: white;
}

.save-button .mat-icon,
.clear-button .mat-icon {
    vertical-align: bottom;
}

.option-table {
    width: 100%;
}

::ng-deep .mat-column-ORDINE div.mat-form-field-infix {
    width: 10%!important;
}

@media (max-width: 767px){
    ::ng-deep .mat-column-ETICHETTA div.mat-form-field-infix,
    ::ng-deep .mat-column-VALORE div.mat-form-field-infix {
        width: 50%!important;
    }
}
