<div>
    <button (click)="ricercaCodifiche()" mat-raised-button color="primary" class="cerca-codifica"
        [disabled]="!searchEnabled || stato=='searching' || datiCodifica == null || datiCodifica.length == 0">
        Ricerca tra i codici già salvati
    </button>

    <div *ngIf="stato=='search_done' && codificheTrovate.length == 0">
    Nessuna codifica esistente soddisfa i parametri selezionati.
    </div>

    <table *ngIf="codificheTrovate.length > 0" mat-table [dataSource]="codificheTrovate">
        <ng-container matColumnDef="CODICE">
            <th mat-header-cell *matHeaderCellDef>Codice</th>
            <td mat-cell *matCellDef="let c">
                {{c.CODICE}}
            </td>
        </ng-container>
        <ng-container matColumnDef="DESCRIZIONE">
            <th mat-header-cell *matHeaderCellDef>Descrizione</th>
            <td mat-cell *matCellDef="let c"> 
                {{c.DESCRIZIONE}}
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['CODICE','DESCRIZIONE']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['CODICE','DESCRIZIONE'];" (click)="showParameters(row)"></tr>
    </table>
    <mat-paginator *ngIf="codificheTrovate.length > 0"
        [length] = "tableLength"
        [pageSize] ="pageSize"
        [pageSizeOptions]="[50, 100]"
        showFirstLastButtons 
        (page)="changePage($event)"
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>