<mat-drawer-container class="example-container" autosize>

  <div
    class="navbar navbar-default navbar-fixed-top"
    role="navigation"
    *ngIf="!menuDisabled"
  >
    <div class="container">
      <div class="navbar-header">
        <nav style="padding: 15px 0">
          <div>
            <button
              mat-button
              (click)="routerFrontend.navigate(['codifica'])"
            >
              <span>Codifica</span>
            </button>
            <button
              mat-button
              (click)="routerFrontend.navigate(['ricerca'])"
            >
              <span>Ricerca codice</span>
            </button>
            <button
              mat-button
              (click)="routerFrontend.navigate(['ricerca-avanzata'])"
              disabled
            >
              <span>Ricerca avanzata</span>
            </button>
            <button
              mat-button
              (click)="routerFrontend.navigate(['schemi-codifica'])"
              [disabled]="ruoloUtente !== 'validatore'"
            >
              <span>Schemi di codifica</span>
            </button>
            <button
              mat-button
              (click)="routerFrontend.navigate(['regole-globali'])"
            >
              <span>Regole globali</span>
            </button>
            <button
              mat-button
              (click)="logout()"
            >
              <span>Logout</span>
            </button>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="content" role="main">
    <div class="container">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
<!--footer style="background-color: black;color:#fff;padding:30px;">
    <div class="container">
        Finsoft 2021
    </div>
</footer-->
  </div>
</mat-drawer-container>
