<h2>Ricerca guidata codice</h2>

La funzione permette di ricercare le codifiche in base agli attributi nel database locale.<br/>
L’utente dovrà scegliere per prima cosa lo schema di codifica.<br/>
L’interfaccia è analoga a quella di codifica, tuttavia non è obbligatorio rispondere a tutte le domande.  All’invio del form verrà generata una tabella con gli articoli corrispondenti ai criteri.<br/>
Dato che il numero potrebbe essere elevato sarà necessaria la paginazione della tabella, con 50-100 elementi per pagina (utilizzando un controllo tipo DataTables l’utente può scegliere secondo le proprie esigenze, ma non è fondamentale).<br/>
Sulla tabella saranno presenti questi dettagli:<br/>
•	codice disegno/commerciale<br/>
•	descrizione<br/>
•	codice valido (sì/no/n.d.)<br/>
•	eventuali altri attributi da definire<br/>
Sarà possibile esaminare ciascun codice nel dettaglio per verificare gli attributi non riportati in tabella.<br/> 
