<h3>Codifica nuovo codice</h3>

Selezionare lo schema di codifica:
<mat-select placeholder="Schema di codifica" [(ngModel)]="schemaScelto" (selectionChange)="onSelect($event)" name="schema" [disabled]="schemaScelto !== undefined">
    <mat-option *ngFor="let schema of schemi" [value]="schema">
        {{schema.TITOLO}}
    </mat-option>
</mat-select>

Questo bottone dovrebbe stare a destra:
<button (click)="reset()" mat-button color="secondary" [disabled]="schemaScelto === undefined">Reset</button>

<div *ngIf="schemaScelto !== undefined">
    <div *ngIf="regoleSchemaScelto.length == 0">
        Nessuna regola configurata.
    </div>

    <div *ngFor="let r of regoleSchemaScelto">
        <div *ngIf="r.TIPO =='text'">
            <mat-form-field appearance="standard">
                <mat-label>Regola {{r.NOM_VARIABILE}}</mat-label>
                <input matInput name="Rule_{{r.NOM_VARIABILE}}" [maxLength]="r.MAXLENGTH" [pattern]="r.PATTERN_REGEXP">
            </mat-form-field>
        </div>
        <div *ngIf="r.TIPO =='number'">
            <mat-form-field appearance="standard">
                <mat-label>Regola {{r.NOM_VARIABILE}}</mat-label>
                <input matInput type="number" name="Rule_{{r.NOM_VARIABILE}}" [min]="r.MIN" [max]="r.MAX">
            </mat-form-field>
        </div>
        <div *ngIf="r.TIPO =='elenco'">
            <mat-form-field appearance="standard">
                <mat-label>Regola {{r.NOM_VARIABILE}}</mat-label>
                <mat-select name="Rule_{{r.NOM_VARIABILE}}">
                    <mat-option *ngFor="let opt of r.OPTIONS" [value]="opt.VALUE_OPTION">
                        {{opt.ETICHETTA}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <!-- Calcolo CODICE e DESCRIZIONE in tempo reale-->
    <div *ngIf="calcoloCompletato" style="background-color: green;">
        <div>
            Codice: {{codiceCalcolato}} 
        </div>
        <div>
            Descrizione: {{descrizioneCalcolata}} 
        </div>
    </div>
</div>