.page-header {
    margin-bottom: 15px;
}

.select-schema {
    margin: 10px 0;
    width: 100%;
}

.area-evidenziata {
    background-color: lightgreen;
    margin-top: 20px ;
}

.reset-wrapper {
    text-align: left;
    margin-bottom: 20px;
}

.subscheme-button {
    margin-right: 5px;
}

@media(min-width: 765px){
    .reset-wrapper {
        text-align: right;
        margin-bottom: 0;
    }
}

.codifica-label {
    font-weight: 700;
}
