.mat-form-field {
    margin-bottom: 10px;
}

.mat-form-field {
    width: 50%
}

@media (max-width: 768px){
    .mat-form-field {
        margin-bottom: 25px;
    }
    .mat-form-field {
        width: 100%
    }
}

@media (max-width: 576px){
    .mat-form-field {
        margin-bottom: 40px;
    }
}

::ng-deep .invalid-field {
    border: 1px solid red;
    box-shadow: 2px 2px 5px red;
}