<!-- <h3>{{this.header}}</h3>
<mat-stepper orientation="vertical">
    <mat-step label="Dati Iniziali" [stepControl]="schemiCodificaForm"> -->
        <div>
            <h2 class="first-section-header">Dati Iniziali</h2>
            <form class="schema-form">
                <mat-form-field appearance="standard">
                    <mat-label>Titolo</mat-label>
                    <input  [(ngModel)]="schemaCodificaForm.TITOLO" name="TITOLO" type="text" matInput >
                </mat-form-field>
                <mat-radio-group
                aria-labelledby="Tipologia Schema"
                [(ngModel)]="schemaCodificaForm.TIPOLOGIA"
                name="TIPOLOGIA">
                    <label class="schema-type-label">Tipologia di Schema</label>
                    <mat-radio-button value="P">
                        Pubblico
                    </mat-radio-button>
                    <mat-radio-button value="I">
                        Interno
                    </mat-radio-button>
                </mat-radio-group>
                <label class="rule-label">Schema valido</label>
                <mat-checkbox [checked]="schemaCodificaForm.IS_VALID==='Y'" (change)="onChangeValid($event)" class="variable-required"></mat-checkbox>
                <mat-form-field appearance="standard">
                    <mat-label>Descrizione</mat-label>
                    <textarea [(ngModel)]="schemaCodificaForm.DESCRIZIONE" name="DESCRIZIONE" matInput class="text-area-lg"></textarea>
                    <mat-hint>Apparirà all'utente come "hint".</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Template Codice</mat-label>
                    <textarea matInput [(ngModel)]="schemaCodificaForm.TPL_CODICE" name="TPL_CODICE" class="text-area-sm"></textarea>
                    <mat-hint ngNonBindable>Tipicamente {{costruttore.toUppercase()}} - {{nparte}}</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Template Descrizione</mat-label>
                    <textarea matInput [(ngModel)]="schemaCodificaForm.TPL_DESCRIZIONE" name="TPL_DESCRIZIONE" class="text-area-lg"></textarea>
                    <mat-hint ngNonBindable>Es. Cilindro {{tipo_prod}} - {{tipo_eff}} - alesaggio {{alesaggio}} - corsa {{corsa}} - {{ril_pos}} - {{tipo_stelo}} - {{ammort}}</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Note interne</mat-label>
                    <textarea matInput [(ngModel)]="schemaCodificaForm.NOTE_INTERNE" name="NOTE_INTERNE" class="text-area-lg"></textarea>
                    <mat-hint>Non appariranno all'utente.</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Javascript Prerender</mat-label>
                    <textarea matInput [(ngModel)]="schemaCodificaForm.PRE_RENDER_JS" name="PRE_RENDER_JS" class="text-area-lg"></textarea>
                    <mat-hint>Questa funzione JavaScript permette di alterare il comportamento standard della codifica</mat-hint>
                </mat-form-field>
                <!-- <button mat-button matStepperNext>Next</button> -->
            </form> 
        </div>
        <button mat-raised-button color="primary" class="spaced-button left-margin-9" (click)="id?updateSchema():addSchema()">{{this.id?'Aggiorna Schema':'Aggiungi Schema'}}</button>
    <!-- </mat-step>
    <mat-step label="regole di Codifica" [stepControl]="parsingRules"> -->
        <div *ngIf="this.id" class="second-section">
            <h2 class="rules-header">Regole di Codifica</h2>
            <button *ngIf="!this.newRuleFormOpened" mat-raised-button color="primary" class="open-rule-form" (click)="openNewRuleForm()">Aggiungi Regola</button>
            <div *ngIf="this.newRuleFormOpened" style="margin: 20px 0 0 2px">
                <h5 style="display: inline-block;">Nuova Regola</h5>
                <button (click)="this.newRuleFormOpened=!this.newRuleFormOpened " class="clear-button close-form"><mat-icon class="mat-icon">clear</mat-icon></button>
                <form class="schema-form">
                    <mat-checkbox [(ngModel)]="schemaCodificaRegola.REQUIRED" name="required" class="variable-required">Obbligatoria</mat-checkbox>
                    <mat-form-field appearance="standard">
                        <mat-label>Nome variabile</mat-label>
                        <input [(ngModel)]="schemaCodificaRegola.NOM_VARIABILE" name="nom_variabile" type="text" matInput >
                        <mat-hint>Es: "tipo_prod"</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="standard">
                        <mat-label>Ordine presentazione</mat-label>
                        <input [(ngModel)]="schemaCodificaRegola.ORD_PRESENTAZIONE" name="ord_presentazione" type="number" matInput >
                    </mat-form-field>
                    <mat-form-field appearance="standard">
                        <mat-label>Etichetta</mat-label>
                        <input [(ngModel)]="schemaCodificaRegola.ETICHETTA" name="etichetta" type="text" matInput >
                    </mat-form-field>
                    <mat-form-field appearance="standard">
                        <mat-label>Tipo della visualizzazione</mat-label>
                        <mat-select [(ngModel)]="schemaCodificaRegola.TIPO" name="tipo">
                            <mat-option *ngFor="let type of types" [value]="type.value">
                            {{type.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div [ngStyle]="{'display': schemaCodificaRegola.TIPO == 'number'?'':'none'}">
                        <mat-form-field appearance="standard">
                            <mat-label>Numero di Decimali</mat-label>
                            <input [(ngModel)]="schemaCodificaRegola.NUM_DECIMALI" name="num_decimali" type="number" matInput >
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>Max</mat-label>
                            <input [(ngModel)]="schemaCodificaRegola.MAX" name="max" type="number" matInput >
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>Min</mat-label>
                            <input [(ngModel)]="schemaCodificaRegola.MIN" name="min" type="number" matInput >
                        </mat-form-field>
                    </div>
                    <div [ngStyle]="{'display': schemaCodificaRegola.TIPO == 'text'?'':'none'}">
                        <mat-form-field appearance="standard">
                            <mat-label>Lunghezza massima</mat-label>
                            <input [(ngModel)]="schemaCodificaRegola.MAXLENGTH" name="maxlength" type="number" matInput >
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>Espressione regolare</mat-label>
                            <input [(ngModel)]="schemaCodificaRegola.PATTERN_REGEXP" name="pattern_regexp" type="text" matInput >
                        </mat-form-field>
                    </div>
                    <div [ngStyle]="{'display': schemaCodificaRegola.TIPO == 'elenco'?'':'none'}"> 
                        <label class="rule-label"> Opzioni</label> 
                        <button mat-raised-button color="primary" [disabled]="isAddRuleActive" [ngStyle] ="{'float':'right', 'margin-bottom':'15px'}" (click)="addOption()">Aggiungi Opzione</button>
                        <table mat-table [ngStyle] ="{'width':'100%', 'margin-bottom':'15px'}" [dataSource]="schemaCodificaRegola.OPTIONS?schemaCodificaRegola.OPTIONS:[]" #regole>
                            <ng-container matColumnDef="ETICHETTA">
                                <th mat-header-cell *matHeaderCellDef>Etichetta</th>
                                <td mat-cell *matCellDef="let option"> 
                                    {{option.ID_SCHEMA>0?option.ETICHETTA:''}} 
                                    <div *ngIf="option.ID_SCHEMA<1">
                                        <mat-form-field  class="addOptionInput" appearance="standard">
                                            <input matInput placeholder="Etichetta" [(ngModel)]="option.ETICHETTA" name="option_etichetta">
                                        </mat-form-field>
                                        <mat-form-field  class="addOptionInput" appearance="standard">
                                            <input matInput placeholder="Valore" [(ngModel)]="option.VALUE_OPTION" name="option_value">
                                        </mat-form-field>
                                        <button (click)="saveOption()" class="save-button"><mat-icon class="mat-icon">save</mat-icon></button>
                                        <button (click)="removeOption()" class="clear-button"><mat-icon class="mat-icon">clear</mat-icon></button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="['ETICHETTA']"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['ETICHETTA'];"></tr>
                        </table>
                    </div><!--
                    <div [ngStyle]="{'display': TIPO == 'Sottoschema'?'':'none'}">
                        <mat-form-field appearance="standard">
                            <mat-label>Schema</mat-label>
                            <mat-select [(ngModel)]="sottoschemaOptionsSelected" name="types">
                                <mat-option  value="a">
                                a
                                </mat-option>
                                <mat-option  value="b">
                                b
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div [ngStyle]="{'display': Elenco == 'Case'?'':'none'}">
                        <mat-form-field appearance="standard">
                            <mat-label>Schema</mat-label>
                            <mat-select [(ngModel)]="sottoschemaOptionsSelected" name="types">
                                <mat-option  value="a">
                                a
                                </mat-option>
                                <mat-option  value="b">
                                b
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->
                </form>
                <button (click)="createRule()" [ngStyle]="{'margin-left': '10px'}" mat-raised-button color="primary">Salva Opzione</button>
            </div>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let schemaRule of schemaCodificaRegole2">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{schemaRule.NOM_VARIABILE}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-schemi-codifica-regola [regola] = "schemaRule"></app-schemi-codifica-regola>
                </mat-expansion-panel>
            </mat-accordion>       
        </div>
        <!-- <div>
            <input hidden="true" id="input-file-id" multiple type="file" />
            <label for="input-file-id" class="mat-focus-indicator upload-image mat-raised-button mat-button-base mat-primary ">Choose Files</label>
        </div> -->
        <!-- <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
</mat-stepper> -->

