.first-section-header {
    margin-left: 9px;
}

.mat-form-field {
    width: 98%;
    margin-left: 10px;
}

.schema-type-label, .spaced-button{
    margin-top: 20px;
}

.left-margin-9 {
    margin-left: 9px;
}

.schema-type-label {
    margin-left: 9px;
    vertical-align: bottom;
}

.rule-label {
    margin-left: 10px;
}

.variable-required{
    margin: 20px 0 0 10px;
}

.mat-radio-group {
    display: block;
}

.mat-radio-button {
    margin:0 10px;
}

.text-area-sm  {
    height: 30px;
}

.text-area-lg  {
    height: 80px;
}

.second-section {
    margin-top: 20px;
    margin-left: 1%;
    width: 98%;
}

.close-form {
    float: right;
    vertical-align: sub;
}

.button-panel {
    display: inline-block;
}

.save-button,
.clear-button {
    margin-left: 10px;
    background-color: transparent;
    border: none;
}

.save-button .mat-icon {
    color: lightgreen;
}

.save-button:hover {
    background-color: lightgreen;
}

.save-button:hover > .mat-icon {
    color: white;
}

.clear-button .mat-icon {
    color: indianred;
    vertical-align: middle;
}

.clear-button:hover {
    background-color: indianred;
}

.clear-button:hover > .mat-icon {
    color: white;
}

.rules-header {
    display: inline-block;
}

.open-rule-form {
    float: right;
}

.addOptionInput {
    width: 40%;
    margin: 0;
}
