.mat-form-field {
    width: 98%;
    margin-left: 10px;
}

.schema-type-label{
    margin: 20px 0 0 10px;
}

.variable-required{
    margin: 20px 0 0 10px;
}

.mat-radio-group {
    margin: 10px 0;
}

.mat-radio-button {
    margin:0 10px;
}

.text-area-sm  {
    height: 30px;
}

.text-area-lg  {
    height: 80px;
}

.mat-accordion .mat-expansion-panel {
    margin-left: 1%;
    width: 98%;
}

.second-section {
    margin-top: 20px;
}
