<h2>Schemi codifica</h2>
<!-- <app-mat-edit-table [columns]="columns" (errorMessage)="setError($event)" [service]="service">
</app-mat-edit-table> -->

<button class="new-schema" (click)="routerFrontend.navigate(['schemi-codifica/crea'])" mat-raised-button color="primary">Nuovo Schema</button>
<table mat-table [dataSource]="schemaCodificaList" class="contentTable">
  <ng-container matColumnDef="TITOLO">
    <th mat-header-cell *matHeaderCellDef>Titolo</th>
    <td mat-cell *matCellDef="let row">{{ row.TITOLO }}</td>
  </ng-container>
  <ng-container matColumnDef="DESCRIZIONE">
    <th mat-header-cell *matHeaderCellDef>Descrizione</th>
    <td mat-cell *matCellDef="let row">{{ row.DESCRIZIONE }}</td>
  </ng-container>
  <ng-container matColumnDef="TIPOLOGIA">
    <th mat-header-cell *matHeaderCellDef>Tipologia</th>
    <td mat-cell *matCellDef="let row">{{ row.TIPOLOGIA==='P'?'Pubblico':'Interno' }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (click)="routerFrontend.navigate(['schemi-codifica/', row.ID_SCHEMA])" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
